.footer-car {
    position: fixed;
    bottom: 50px;
    height: 40px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #A6A6A6 ;
}
.footer-car-left {
    width: 70%;
    float: left;
    height: 40px;
    line-height: 30px;
    padding: 5px 15px;
}
.footer-car-left span {
    color: #d84a22;
}
.footer-car-left a {
    color: #d84a22;
}
.footer-car-right {
    width: 30%;
    float: left;
    height: 40px;
    padding: 5px 5px;
    line-height: 30px;
    text-align: center;
    background-color: #5E5F61;
}
.footer-car-right a {
    color:#fff;
}
#cart-List {
    position: fixed;
    bottom: 90px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #A6A6A6 ;
}
.car-title-right a {
    color: #000;
}
.car-title {
    width: 100%;
    height: 40px;
    padding: 10px 0;
}
.car-title-left {
    font-size: 14px;
    padding: 0 10px;
    height: 20px;
    width: 50%;
    float: left;
}
.car-title-right {
    float: right;
    width: 50%;
    padding-left: 25%;
}
.carProduct {
    width: 100%;
    height: 30px;
    font-size: 0.8rem;
}
