.person-info {
    background-color: #DE5E37;
    width: 100%;
    height: 8.0rem;
}
.imgStyle {
    height: 100%;
    width: 100%;
    border-radius: 50% 50%;
}
.rowStyle {
    padding: 40px 25px;
}
.telStyle {
    color: white;
    font-size: 0.8rem;
}
